.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container h1 {
  margin: 4rem 0 0 15rem;

  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: #2e384d;
}

.container > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr;
  width: 70vw;

  margin: 3rem auto 1rem auto;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.5);
}
